matplotlib==3.3.0
numpy==1.19.0
scipy==1.5.1
seaborn==0.10.1
svgutils==0.3.1
pandas==1.0.5
manubot==0.4.0
pandoc-fignos==2.2.0
pandoc-eqnos==2.1.1
pandoc-tablenos==2.1.1
pylint==2.5.3
pytest==5.4.3
pytest-cov==2.10.0
biopython==1.77
scikit-learn==0.23.1
plotly==4.9.0
jupyter==1.0.0
pomegranate==0.13.4
astropy==4.0.1.post1
gprof2dot
